.App {
    display: flex;
    justify-content: space-between;
}

.App main {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
}

.genInfo {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
}

.genInfo .each{
    padding: 15px;
}

.genInfo .each h2 {
    font-size: 50px;
    line-height: 25px;
    font-weight: bold;
    margin: 10px
}

.genInfo .signs h2,
.signSvg svg{
    color: #00acac;
}

.genInfo .profit h2, .proSvg svg{
    color: #1f7bb6;
}

.genInfo .comms h2, .commsSvg svg {
    color: #fbcf71;
}

.genInfo .pends h2, .pendSvg svg{
    color: #00acac;
}
